/* 推擠 */
.mt_navbar{
    margin-top: 89px !important;
    @include pc {
      margin-top: 66px !important;
    }
}
.mt_90{
    margin-top: 90px;
}
.py-8 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.btn--center{
  position: absolute;
  top: 14%;
  left: 50%;
  margin-left: -44px;
}
.btn__enable--center{
  position: absolute;
  top: 23%;
  left: 50%;
  margin-left: -22px;
}

// 鼠標
.cursor-pointer{
  cursor: pointer;
}

/* 區塊陰影 */
.div_shadow
{
box-shadow: -8px -5px 25px #333333;
-webkit-box-shadow: -8px -5px 25px #333333;
-moz-box-shadow: -8px -5px 25px #333333;
}

/* 圓角 */
.rounded-bottom-50{
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 0;
}
.rounded-top-50{
    border-radius:  0.5rem 0.5rem 0 0;
    border-bottom: 0;

}

/* 鼠標 */
.cursor-point{
    cursor:pointer;
}
/* 高度 */
.h-40{
    height: 80px;
}
/* 字體 */
.ff-PottaOne{
    font-family: 'Potta One', cursive;
}
.ff-KosugiMaru{
    font-family: 'Kosugi Maru', sans-serif;
}
.ff-HachiMaruPop{
    font-family: 'Hachi Maru Pop', cursive;
}


/* 文字輸入效果 */
@keyframes typing {
    from { width: 0 }
  }
  
  @keyframes caret {
    50% { border-color: transparent; }
  }
  
  .css_wordInput {
    width: 12em;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(12),
      caret 1s steps(1) infinite;
  }
  
  .css_wordInput_13 {
    width: 13em;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(13),
      caret 1s steps(1) infinite;
  }
  .css_wordInput_4 {
    width: 5em;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(5),
      caret 1s steps(1) infinite;
  }
  .w_100{
    width: 100%;
  }
  .w-80{
    width: 80%;
  }
  .w_50{
    width: 50%;
  }
  .w_33{
    width: 30%;
  }

  
  // 顏色
  .bg-veryGray{
    background-color: #fdfdfd !important;
  }
  .bg-lightPrimary{
    background-color:rgb(207, 154, 89);
  }
  .bg-whiteGray{
    background-color: #EEEEEE;
  }
  bg-blueGray{
    background-color: #FAFAFC;
  }

  //圖片
  .object-fit{
    object-fit: cover;
    // @media screen and (min-width:400px) { 
    //   object-fit: cover;
    // }
  }
  .object-sm-fit{
    @media (min-width:400px) { 
      object-fit: cover;
    }
  }
  //圖片透明 文字不透明
  .bg-img-transparent{
    background:rgba(0,0,0,0.6 );
  }

  // 圖片特效 縮放
  .img--scale{
    transform:scale(1,1);transition: all .5s ease-out;
    &:hover{transform:scale(1.2,1.2);};
  }

  //標題
  .titleEffect{
    text-align: center;
    span{
       position: relative;
       display: inline-block;
       padding: 0 0.5em;
      &:before,&:after{
        position: absolute;
       top: 50%;
       content: '';
       width: 1.5em;
       height: 1px;
       background-color: black;
      }
      &:before{left: 100%;}
      &:after{right: 100%;}
    }
  }
  .titleEffect--border-bottom-bold{
    padding: 0.2em;
    background: linear-gradient(transparent 70%, #D11E35 70%);
  }
  .titleEffect--border-bottom-x{
    text-align: center;
  span{
    position: relative;
    display: inline-block;
    padding: 0 0.8em;
    &:before{
     position: absolute;
     content: '';
     top:0;
     right:0.2em;
     width: 0.2em;
     height:100%;
     border: solid 1px black;
     border-left: none;
    }
    &:after{
     position: absolute;
     content: '';
     top:0;
     left:0;
     width: 0.2em;
     height:100%;
     border: solid 1px black;
     border-right: none;
    }
  }
  }
  .titleEffect--border-bottom-down{
    text-align: center;
    span{
       position: relative;
       display: inline-block;
       padding-bottom:0.5em;
       border-bottom: 1px solid black;
      &:before,&:after{
        position: absolute;
       top: 100%;
       left:50%;
       transform:translateX(-50%);
       content: '';
       border: 10px solid transparent;
      }
      &:before{
        border-top: 10px solid black;
      }
      &:after{
       margin-top: -1px;
       border-top: 10px solid white;
      }
    }
  }
  .titleEffect--border-bottom-left{
    position: relative;
    padding-left: 0.7em;
    &:after {
       position: absolute;
       top: 50%;
       left:0;
       transform:translateY(-50%);
       content: '';
       width: 5px;
       height:1em;
       background-color: #D11E35;
    }
  }
  .titleEffect--ticket{
    position: relative;
    color: white;
    padding:0.5em 0.5em 0.5em 1.4em;
    background-color: #D11E35;
    &:after {
        position: absolute;
        top: 50%;
        left:0;
        transform:translateY(-50%);
        content: '';
        width: 18px;
        height:4px;
        background-color:white;
    }
  }


  // 權重
  .z-index-1020{
    z-index: 1020;
  }


  // RWD
  // PAD 以下就絕對定位
  .mobile-fixed{
    @include pad{
      position: fixed;
      bottom: 0;
      z-index: 1020;
    }
  }
